<!DOCTYPE html>
<html>
<head>
    <title>旅游资讯</title>


    <link href="../static/public/css/default.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="IE=EmulateIE7" http-equiv="X-UA-Compatible"/>
    <meta content="telephone=no" name="format-detection">
    <meta content="webkit" name="renderer">
    <meta content="此游网" name="author"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="no-siteapp" http-equiv="Cache-Control"/>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
    <link href="../static/public/css/default.css" rel="stylesheet">

</head>
<body>

<header>
    <div class="header-nav">
        <div role="navigation">
            <a class="hd-logo" href="#" rel="home" title="此游网"><img height="100" src="../static/public/images/logo2.png"
                                                                    width="300"></a>
            <ul class="hd-nav">
                <li class="search-box-li">
                    <i class="search-exit"></i></li>
                <li><a href="index.html" name="index">网站首页<span><i class="iconfont ">&#xe6aa;</i></span></a></li>
                <li><a href="productlist.html" name="productlist">服务套餐<span><i class="iconfont ">&#xe6aa;</i></span></a>
                </li>
                <li><a href="article.html" name="article">旅行资讯<span><i class="iconfont ">&#xe6aa;</i></span></a></li>
                <li><a href="user.html" name="contact">用户中心<span><i class="iconfont ">&#xe6aa;</i></span></a></li>
                <li><a href="about.html" name="about">关于我们<span><i class="iconfont ">&#xe6aa;</i></span></a></li>
            </ul>

            <div class="motai"></div>
            <ul>
                <li><a>广州站</a></li>
                <li><a>Guangzhou</a></li>
                <li><a><i class="iconfont nav-bottom">&#xe61f;</i></a></li>
            </ul>

        </div>
    </div>

    <div class="header-carousel container">

        <div class="carousel slide" id="myCarousel">
            <img alt="" src="../static/public/images/mdbanner2.jpg" width="100%">
        </div>

    </div>
</header>
<main>
    <div>
        <div class="main-head">
            <p><span>旅行资讯</span></p>
        </div>
    </div>
    <!--文章分类-->
    <!--<ul class="main-submenu main-submenu-second">
        <li><a href="#">分类1</a></li>
        <li><a href="#">分类2</a></li>
        <li><a href="#">分类3</a></li>
        <li><a href="#">分类4</a></li>
    </ul>-->
    <div class="article-list-banner"><img src="../static/public/images/mdbanner2.jpg"></div>
    <!--文章列表-->
    <ul class="article-list">
        <li>
            <div class="article-date">
                <strong>文章id</strong>
                <p>文章发布时间</p>
            </div>
            <div class="article-info">
                <a href="article_list_content.html">
                    <h3>标题</h3>
                    <p>内容</p>
                </a>
            </div>
        </li>
    </ul>
    <footer>
        <div>
            <ul class="footer-top">
                <li><a href="index.html">网站首页</a></li>
                <li><a href="productlist.html">服务套餐</a></li>
                <li><a href="article.html">旅行资讯</a></li>
                <li><a href="contact.user.html">用户中心</a></li>
                <li><a href="about.html">关于我们</a></li>
            </ul>
        </div>
        <div>
            <ul class="footer-body">
                <li>
                    <span>电话:</span><span>400-88888888</span>
                </li>
                <li>
                    <span>邮箱:</span><span>chtourism@foxmail.com</span>
                </li>
                <li>
                    <span>地址:</span><span>广州市天河区</span>
                </li>
            </ul>
            <div style="height: 32px"><span style="color:#dedede">COMR HERE TOURISM - Copyright © 2019
            <a href="#" target="_blank" title="CHTourism">CHTourism此游网</a> 版权所有</span>
            </div>
        </div>
    </footer>
</body>
<script src="../static/public/plugins/jquery/jquery.js"></script>
<script src="../static/public/plugins/bootstrap/js/bootstrap.js"></script>
<script src="../static/public/js/main.js"></script>
</html>